<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.3/phpunit.xsd" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="unit">
      <directory>Test</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="testes-executados.txt"/>
  </logging>
  <source/>
</phpunit>
